$navigation-height: 5rem;



$font-titles: 'Gloria Hallelujah', cursive;
$font-default: 'Lato', sans-serif;



$color-background: #fef2bf;
$color-navigation: #fbd685;

$color-primary-orange: #ff895d;
$color-secondary-orange: #ff9f68;

$color-primary-blue: #74d2ff;

$color-primary-green: #b5ff7d;
$color-secondary-green: #52d681;
$color-third-green: #79dc96;
$color-third-green: #83f084;